{% extends 'layout.twig' %}

{% block body %}
	<h2>Device "{{ device.name }}"</h2>
	<h3>Sensors</h3>
	<div class="devicesGroupContainer highlighted" id="sensorsGroupContainer">
		{% for id in device.sensors|keys %}
			<div class="container" style="width: 19.2%; height: 250px">
				<header>
					<span class="centerText title">{{ device.sensors[id].name }}</span>
				</header>
				<div class="mainView">
					<span>Location: {{ device.sensors[id].loc.value }}{% if device.sensors[id].loc.type is defined %} ({{ device.sensors[id].loc.type }}){% endif %}</span>
					{#{% for prop in device.sensors[id].data|keys %}
						{% if prop|length > 0 and sensorLayout[prop].title is defined %}
							<span>{{ sensorLayout[prop].title }}: {{ device.sensors[id].data[prop] }}</span>
						{% endif %}
					{% endfor %}#}
				</div>
				<footer class="footer">
					<button class="dangerButton waves-light waves-button waves-float" onclick="removeSensor('{{ id }}')">Remove</button>
					<button class="waves-light waves-button waves-float" onclick="reconfigureSensor('{{ id }}')">Configure</button>
				</footer>
			</div>
		{% endfor %}
		<div class="container placeholder" style="width: 19.2%; height: 250px;">
			<div class="plusCircleButton" id="addSensor">
				<span class="plusCircleText">+</span>
			</div>
		</div>
	</div>
	<h3>Actuators</h3>
	<div class="devicesGroupContainer highlighted" id="actuatorsGroupContainer">
		{% for id in device.actuators|keys %}
			<div class="container" style="width: 19.2%; height: 250px">
				<header>
					<span class="centerText title">{{ device.actuators[id].name }}</span>
				</header>
				<div class="mainView">
					<span>Location: {{ device.actuators[id].loc.value }}{% if device.actuators[id].loc.type is defined %} ({{ device.actuators[id].loc.type }}){% endif %}</span>
					{#{% for prop in device.sensors[id].data|keys %}
						{% if prop|length > 0 and sensorLayout[prop].title is defined %}
							<span>{{ sensorLayout[prop].title }}: {{ device.sensors[id].data[prop] }}</span>
						{% endif %}
					{% endfor %}#}
				</div>
				<footer class="footer">
					<button class="dangerButton waves-light waves-button waves-float" onclick="removeSensor('{{ id }}')">Remove</button>
					<button class="waves-light waves-button waves-float" onclick="reconfigureActuator('{{ id }}')">Configure</button>
				</footer>
			</div>
		{% endfor %}
		<div class="container placeholder" style="width: 19.2%; height: 250px;">
			<div class="plusCircleButton" id="addActuator">
				<span class="plusCircleText">+</span>
			</div>
		</div>
	</div>
	<h3>Peripherals</h3>
	{% for id in device.peripherals|keys %}
		<div class="container" style="width: 19.2%; height: 250px">
			<header>
				<span class="centerText title">{{ device.peripherals[id].name }}</span>
			</header>
			<div class="mainView">
				<span>Protocol: {{ device.peripherals[id].protocols|join(', ') }}</span>
			</div>
			<footer class="footer">
				<button class="dangerButton waves-light waves-button waves-float" onclick="removePeripheral('{{ id }}')">Remove</button>
				<button class="waves-light waves-button waves-float" onclick="reconfigurePeripheral('{{ id }}')">Configure</button>
			</footer>
		</div>
	{% endfor %}
	<div class="container placeholder" style="width: 19.2%; height: 250px;">
		<div class="plusCircleButton" id="addPeripheral">
			<span class="plusCircleText">+</span>
		</div>
	</div>
	<h3>I&sup2;C</h3>
	{% if i2c %}
		<span class="subHeader">I&sup2;C is available in this device at the following locations:</span>
		<div class="tagged"><span class="tag">SDA</span><span class="text">{{ i2c.sda.type }} location {{ i2c.sda.pin }}</span></div>
		<div class="tagged"><span class="tag">SCL</span><span class="text">{{ i2c.scl.type }} location {{ i2c.scl.pin }}</span></div>
		{% if device.i2cEnabled %}
			<button class="waves-button waves-float waves-ripple dangerButton" onclick="setI2C(false)">Disable I&sup2;C</button>
		{% else %}
			<button class="waves-button waves-float waves-ripple greenButton" {% if not device.canEnableI2C %}title="One or more I&sup2;C pins are already being used" disabled{% else %} onclick="setI2C(true)"{% endif %}>Enable I&sup2;C</button>
		{% endif %}
	{% else %}
		<span class="subHeader">I&sup2;C is not available in this device</span>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		let device = {{ device|json_encode|raw }};
		let baseForm = {
			"name": {
				"type": "textbox",
				"isTitled": true
			}
		};
		let peripheralBaseForm = {
			"name": {
				"type": "textbox",
				"isTitled": true,
				"title": "Peripheral Name"
			},
			"model": {
				"type": "list",
				"isTitled": true,
				"title": "Model",
				"items": {{ peripheralModels|json_encode|raw }}
			}
		};
		let locs = {{ availableLocations|json_encode|raw }};
		let locLabels = {{ locationLabels|json_encode|raw }};
		let locTypes;
		if(!Array.isArray(locs) && !locs.hasOwnProperty("_io")){
			locTypes = Object.keys(locs);
			baseForm.locType = {
				type: "list",
				isTitled: true,
				title: locLabels.locationTypeTitle,
				items: locTypes
			};
		}
		let locLayout = {
			loc: {
				type: "list",
				isTitled: true,
				title: locLabels.locationTitle
			}
		};

		function setI2C(enabled){
			socket.emit("setDeviceI2C", {deviceID: "{{ deviceID }}", enabled: enabled}, (res) => {
				if(!res) alert("An error has occurred");
				else reload();
			});
		}

		function _registerAddDialog(type){
			document.getElementById("add" + type).addEventListener("click", () => {
				baseForm.name.title = type + " Name";
				let neededCap = type.startsWith("S") ? "i" : "o";
				if(baseForm.hasOwnProperty("locType")){
					baseForm.locType.items = locTypes.filter(loc => {
						return _getTypeLocations(loc, neededCap).length > 0;
					});
				}
				let window = displayWindow("Add New " + type, 450, createForm(baseForm, "next", (data) => {
					closeWindow(window);
					locLayout.loc.items = _getTypeLocations(data.locType, neededCap);
					displayWindow("Configure " + type, 450, createForm(locLayout, "add " + type, (locData) => {
						socket.emit("add" + type, {deviceID: "{{ deviceID }}", name: data.name, location: {value: locData.loc, type: data.locType}, extraData: undefined}, res => {
							if(!res) alert("An error has occurred");
							else reload();
						});
					}));
				}));
			});
		}
		
		function _getTypeLocations(type, capability){
			let items;
			if(type)
				items = locs[type];
			else
				items = locs;
			let capableLocs = [];
			for(let cap in items)
				if(items.hasOwnProperty(cap))
					if(cap.indexOf(capability) !== -1)
						capableLocs.push(...items[cap]);
			return capableLocs;
		}
		
		function _displayReconfigureDialog(type, object){
			let prefilled = Object.assign({}, baseForm);
			prefilled.name.value = object.name;
			prefilled.name.title = type + " Name";
			if(prefilled.hasOwnProperty("locType"))
				prefilled.locType.value = object.loc.type;
			let prefilledLocLayout = Object.assign({}, locLayout);
			let window = displayWindow("Configure " + type, 450, createForm(prefilled, "next", (data) => {
				closeWindow(window);
				if(data.hasOwnProperty("locType")) {
					prefilledLocLayout.loc.items = locs[data.locType];
					if(object.loc.type === data.locType)
						prefilledLocLayout.loc.value = object.loc.value;
				}else {
					prefilledLocLayout.loc.items = locs;
					prefilledLocLayout.loc.value = object.loc.value;
				}
				displayWindow("Configure " + type, 450, createForm(prefilledLocLayout, "done", (locData) => {
					socket.emit("configure" + type, {deviceID: "{{ deviceID }}", name: data.name, location: {value: locData.loc, type: data.locType}, extraData: undefined}, (res) => {
						if(!res) alert("An error has occurred");
						else reload();
					});
				}));
			}));
		}
		
		Waves.init();
		_registerAddDialog("Sensor");
		_registerAddDialog("Actuator");

		document.getElementById("addPeripheral").addEventListener("click", () => {
			let window = displayWindow("Add New Peripheral", 450, createForm(peripheralBaseForm, "next", (baseData) => {
				closeWindow(window);
				socket.emit("getPeripheralForm", {deviceID: "{{ deviceID }}", model: baseData.model}, (form) => {
					displayWindow("Configure Peripheral", 450, createForm(form, "add peripheral", (data) => {
						socket.emit("addPeripheral", {deviceID: "{{ deviceID }}", name: baseData.name, model: baseData.model, extraData: data}, res => {
							if(!res) alert("An error has occurred");
							else reload();
						});
					}));
				});
			}));
		});

		function reconfigureSensor(id){
			_displayReconfigureDialog("Sensor", device.sensors[id]);
		}
		
		function reconfigureActuator(id){
			_displayReconfigureDialog("Actuator", device.sensors[id]);
		}
		
		function removeSensor(id){
			socket.emit("removeSensor", {sensorID: id}, (res) => {
				if(!res) alert("An error has occurred");
				else reload();
			});
		}
	</script>
{% endblock %}